In [15]:
import pandas as pd

In [16]:
df = pd.read_csv(r'D:\LDS\DataAnalysisWithPython\Dataset\Car_sales.csv')

In [17]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         147 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3     year resale value  121 non-null    float64
 4   Vehicle type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest Launch        157 non-null    object
 15  Power perf factor    155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [18]:
df.columns

Index(['Manufacturer', 'Model', 'Sales in thousands', '  year resale value',
       'Vehicle type', 'Price_in_thousands', 'Engine_size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity',
       'Fuel_efficiency', 'Latest Launch', 'Power perf factor'],
      dtype='object')

In [19]:
df.columns.str.lower()

Index(['manufacturer', 'model', 'sales in thousands', '  year resale value',
       'vehicle type', 'price_in_thousands', 'engine_size', 'horsepower',
       'wheelbase', 'width', 'length', 'curb_weight', 'fuel_capacity',
       'fuel_efficiency', 'latest launch', 'power perf factor'],
      dtype='object')

In [20]:
df.columns.str.upper()

Index(['MANUFACTURER', 'MODEL', 'SALES IN THOUSANDS', '  YEAR RESALE VALUE',
       'VEHICLE TYPE', 'PRICE_IN_THOUSANDS', 'ENGINE_SIZE', 'HORSEPOWER',
       'WHEELBASE', 'WIDTH', 'LENGTH', 'CURB_WEIGHT', 'FUEL_CAPACITY',
       'FUEL_EFFICIENCY', 'LATEST LAUNCH', 'POWER PERF FACTOR'],
      dtype='object')

In [21]:
df.columns.str.title()

Index(['Manufacturer', 'Model', 'Sales In Thousands', '  Year Resale Value',
       'Vehicle Type', 'Price_In_Thousands', 'Engine_Size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_Weight', 'Fuel_Capacity',
       'Fuel_Efficiency', 'Latest Launch', 'Power Perf Factor'],
      dtype='object')

In [22]:
df.columns.str.capitalize()

Index(['Manufacturer', 'Model', 'Sales in thousands', '  year resale value',
       'Vehicle type', 'Price_in_thousands', 'Engine_size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity',
       'Fuel_efficiency', 'Latest launch', 'Power perf factor'],
      dtype='object')

In [23]:
df.columns

Index(['Manufacturer', 'Model', 'Sales in thousands', '  year resale value',
       'Vehicle type', 'Price_in_thousands', 'Engine_size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity',
       'Fuel_efficiency', 'Latest Launch', 'Power perf factor'],
      dtype='object')

In [24]:
df.columns=df.columns.str.lower()

In [25]:
df.columns

Index(['manufacturer', 'model', 'sales in thousands', '  year resale value',
       'vehicle type', 'price_in_thousands', 'engine_size', 'horsepower',
       'wheelbase', 'width', 'length', 'curb_weight', 'fuel_capacity',
       'fuel_efficiency', 'latest launch', 'power perf factor'],
      dtype='object')

In [27]:
df=df.rename(columns={'latest launch':'latest_launch', 'power perf factor': 'power_perf_factor', '  year resale value':'year_resale_value'})

In [28]:
df.columns

Index(['manufacturer', 'model', 'sales in thousands', 'year_resale_value',
       'vehicle type', 'price_in_thousands', 'engine_size', 'horsepower',
       'wheelbase', 'width', 'length', 'curb_weight', 'fuel_capacity',
       'fuel_efficiency', 'latest_launch', 'power_perf_factor'],
      dtype='object')

In [31]:
df.rename(columns=str.upper)

,MANUFACTURER,MODEL,SALES IN THOUSANDS,YEAR_RESALE_VALUE,VEHICLE TYPE,PRICE_IN_THOUSANDS,ENGINE_SIZE,HORSEPOWER,WHEELBASE,WIDTH,LENGTH,CURB_WEIGHT,FUEL_CAPACITY,FUEL_EFFICIENCY,LATEST_LAUNCH,POWER_PERF_FACTOR
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,02-02-2012,58.280150
1,NaN,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,06-03-2011,91.370778
2,NaN,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,01-04-2012,NaN
3,NaN,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,03-10-2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-08-2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [33]:
df=df.rename(mapper=str.lower, axis=1)

In [34]:
df.head(2)

,manufacturer,model,sales in thousands,year_resale_value,vehicle type,price_in_thousands,engine_size,horsepower,wheelbase,width,length,curb_weight,fuel_capacity,fuel_efficiency,latest_launch,power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.5,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,02-02-2012,58.280150
1,NaN,TL,39.384,19.875,Passenger,28.4,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,06-03-2011,91.370778